$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// your own css/scss
.jumbotron {
	background: url('../images/background.jpg');
	height: 500px;
	padding-top: 0;
	color: #fff;

	h1 {
		font-weight: 900;
		text-align: center;
	}
	p {
		font-size: 200%;
		text-align: center;
		margin: 50px
	}
}
// your own css/scss ends
